<section
  class="hero-section position-relative d-flex align-items-center justify-content-center text-center overflow-hidden">

  <div class="css-carousel-background position-absolute w-100 h-100">
    <div class="slide-img img-1"></div>
    <div class="slide-img img-2"></div>
    <div class="slide-img img-3"></div>
    <div class="slide-img img-4"></div>
  </div>

  <div class="hero-overlay position-absolute w-100 h-100 bg-dark opacity-75 z-1"></div>

  <div class="container position-relative z-2 text-white">
    <span class="badge-industrial">CONCRETO CERTIFICADO</span>
    <h1 class="main-title">CONSTRUIMOS CON LA <span class="text-orange">FUERZA DEL SUR</span></h1>
    <p class="hero-description">Mezclas de alta resistencia, prefabricados estructurales y maquinaria pesada.</p>
  </div>
</section>

<!-- ARTÍCULO DETALLE -->


<div class="container-fluid articulo-section py-5" *ngIf="articulo">

  <div class="container">

    <div class="articulo-header-container">
      <span class="badge-industrial text-uppercase">
        {{ articulo.categoria }}
      </span>

      <h1 class="articulo-title">
        {{ articulo.titulo }}
      </h1>

      <div class="meta-info">
        <span>
          <i class="bi bi-person-fill"></i> {{ articulo.autor }}
        </span> |
        <span>
          <i class="bi bi-calendar-event"></i>
          {{ articulo.fechaPublicacion | date:'dd MMM, yyyy' }}
        </span>
      </div>
    </div>

    <div class="img-wrapper-detail">
      <img *ngIf="articulo.imagenes?.length"
           [src]="getImagen(articulo.imagenes[0])"
           class="main-img-detail"
           [alt]="articulo.titulo">
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <p class="articulo-contenido">
          {{ articulo.contenido }}
        </p>
      </div>
    </div>

  </div>

</div>



