<div class="admin-container">

  <aside class="sidebar">
    <nav>
      <ul>

        <!-- DASHBOARD -->
        <li>
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Dashboard
          </a>
        </li>

        <!-- CATEGORÍAS -->
        <li>
          <a routerLink="categorias" routerLinkActive="active">
            Categorías
          </a>
        </li>

        <!-- ARTÍCULOS -->
        <li>
          <a routerLink="articulos/crear" routerLinkActive="active">
            Crear Artículo
          </a>
        </li>


        <li>
          <a routerLink="articulos" routerLinkActive="active">
            Artículos
          </a>
        </li>


        <li>
          <button (click)="logout()" class="logout-btn">
            Cerrar sesión
          </button>
        </li>

      </ul>
    </nav>
  </aside>

  <main class="content">
    <header>
      <h1>Panel de Administración</h1>
    </header>

    <!-- ✅ ESTE SÍ ES CORRECTO -->
    <router-outlet></router-outlet>
  </main>

</div>
