<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow-sm border-0">
        <div class="card-body p-4">
          <h2 class="card-title mb-4 fw-bold text-primary">
            {{ modoEditar ? 'Editar Artículo' : 'Crear Artículo' }}
          </h2>

          <form (ngSubmit)="guardarArticulo()">

            <div class="row">
              <div class="col-md-8 mb-3">
                <label class="form-label fw-bold">Título</label>
                <input class="form-control" [(ngModel)]="articulo.titulo" name="titulo" required>
              </div>

              <div class="col-md-4 mb-3">
                <label class="form-label fw-bold">Categoría</label>
                <select class="form-select" [(ngModel)]="articulo.categoriaId" name="categoriaId">
                  <option *ngFor="let c of categorias" [value]="c.id">{{ c.nombre }}</option>
                </select>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label fw-bold">Resumen</label>
              <input class="form-control" [(ngModel)]="articulo.resumen" name="resumen">
            </div>

            <div class="mb-3">
              <label class="form-label fw-bold">Contenido</label>
              <textarea class="form-control" rows="6" [(ngModel)]="articulo.contenido" name="contenido" required></textarea>
            </div>

            <div class="mb-3">
              <label class="form-label fw-bold">Subir imágenes</label>
              <input type="file" class="form-control" multiple (change)="onFileChange($event)">

              <div class="d-flex flex-wrap gap-2 mt-3">
                <img *ngFor="let img of previewUrls" [src]="img" class="img-thumbnail" style="width: 150px; height: 100px; object-fit: cover;">
              </div>
            </div>

            <div class="mb-3 form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="pubSwitch" [(ngModel)]="articulo.publicada" name="publicada">
              <label class="form-check-label" for="pubSwitch">Publicar ahora</label>
            </div>

            <hr>

            <button class="btn btn-primary px-4 py-2" *ngIf="auth.getRole() === 'ADMIN'">
              <i class="bi bi-save"></i> {{ modoEditar ? 'Actualizar artículo' : 'Crear artículo' }}
            </button>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
