# =========================
# JAVA / SPRING BOOT
# =========================
target/
*.log

# Maven
.mvn/wrapper/maven-wrapper.jar

# =========================
# NODE / ANGULAR
# =========================
node_modules/
dist/
.angular/

# =========================
# ENV VARIABLES (CRÍTICO)
# =========================
.env
.env.* 

# =========================
# DOCKER
# =========================
docker-compose.override.yml

# =========================
# IDEs
# =========================

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp