<div class="topbar text-white">
  <div class="container h-100 d-flex justify-content-between align-items-center">

    <div class="d-flex align-items-center gap-4 h-100">
      <a href="https://wa.me/573143616958?text=Cordial%20saludo%20Hormigones%20del%20Sur,%20requiero%20mas%20información%20por%20favor." target="_blank" class="topbar-link font-body">
        <i class="bi bi-telephone-fill text-warning me-2"></i> +57 314 361 6958
      </a>

      <a href="mailto:comercial@hormisursas.com.co" target="_blank" class="topbar-link font-body">
        <i class="bi bi-envelope-fill text-warning me-2"></i> comercial&#64;hormisursas.com.co
      </a>
    </div>

    <div class="d-flex align-items-center gap-3 h-100">

      <span class="font-body text-uppercase text-light-50 me-2" style="font-size: 0.7rem; letter-spacing: 1px;">
        Síguenos:
      </span>

      <a href="https://www.facebook.com/hormisursas" class="topbar-social" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>

      <a href="https://www.instagram.com/hormisursas/?fbclid=IwAR0uhPj1wGkdkYvU3dlHWKl2LONYAGUftvcNlJhfLXw_mCY_sg6E1h0hg2Y" class="topbar-social" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>

      <a href="https://www.tiktok.com/@hormigonesdelsur" class="topbar-social" target="_blank">
        <i class="bi bi-tiktok"></i>
      </a>


    </div>

  </div>
</div>
