.login-section {
  background: radial-gradient(circle at center, #1f1f1f 0%, #121212 100%);
}

.card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.02em;
}

.form-control {
  border-radius: 6px;
}

.form-control:focus {
  border-color: #D97724 !important;
  background-color: #1a1a1a !important;
  box-shadow: none;
}

.btn-industrial {
  background-color: #D97724;
  border: none;
  color: #fff;
  transition: 0.3s;
}

.btn-industrial:hover {
  background-color: #E65F00;
}
